<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Management</title>
</head>
<body>


<header th:insert="blocks/headers :: headerL"></header>
<div classname="container">
    <h4 class="text-center">Edit Book Here</h4>
    <form class="col-md-4 offset-md-4" th:action="@{/save}" method="post" th:object="${book}">

        <input type="hidden" name="id" th:value="${book.id}"/>

        <div class="mb-3">
            <label for="name" class="form-label">Name </label>
            <input type="text" class="form-control" name="name" th:value="${book.name}">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author </label>
            <input type="text" class="form-control" name="author" th:value="${book.author}">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price </label>
            <input type="text" class="form-control" name="price" th:value="${book.price}">
        </div>

        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>



</body>
</html>